@using Microsoft.AspNet.Identity

@*@{
        var auth = Request.IsAuthenticated;
    }*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <meta name="description" content="Synchronized shoppinglist" />
</head>
<body ng-app="mainApp" ng-controller="mainController">
    @*<script>
            var auth = @auth.ToString().ToLower();
        </script>*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#c8bfe7;">
        <div class="container" style="height:5vh;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand navbar-brand-extras">Synchronized Shopping List</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!" style="text-shadow: 1px 1px black;">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a ng-click="navigate('login')" ng-if="!Auth"><i class="fa fa-home" aria-hidden="true"></i> Login</a></li>*@
                    <li><a ng-click="fakeLogin()" ng-if="false"><i class="fa fa-home" aria-hidden="true"></i> Fake login</a></li>
                    @*<li><a href="javascript:document.getElementById('logoutForm').submit()" ng-click="isAuthorized()" ng-if="Auth">Log off</a></li>*@
                    <li><a href="#" ng-if="Auth"><i class="fa fa-user" aria-hidden="true"></i> {{user.FirstName + ' ' + user.LastName}} </a></li>
                    <li><a href="#" ng-click="FBLogin()" ng-if="!Auth">Login with Facebook</a></li>
                    <li><a href="/Login/Logout" ng-if="Auth" ng-click="ClearLocalStorage()">Log off</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="row" ng-if="!Auth">
            <div class="col-sm-12 not-logged-in-logo" ng-if="!Auth">
                <img src="~/Img/WebSync.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-6"  ng-view ng-show="Auth">
                @RenderBody()
            </div>

            <div class="col-sm-2 chat-window" ng-show="Auth">
                <label style="margin-left:15px;">Chatting with everyone</label><br />
                <i class="fa fa-plug" ng-class="{'text-danger': !connected, 'text-success': connected}" aria-hidden="true"></i>
                <input type="text" id="message" ng-model="chatMessage" ng-keyup="SendOnEnter($event)" />
                <ul style="list-style:none;margin-top:5px; margin-left:-15px;">
                    <li ng-repeat="message in ChatMessages track by $index">
                        <strong>{{message.name}}:</strong><br /><i style="font-size:0.7em">({{message.timestamp.toLocaleTimeString()}})</i> {{message.message}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 chat-window" ng-show="Auth">
                <label style="margin-left:15px;">Connected users</label><br />
                <ul style="list-style:none;margin-top:5px; margin-left:-15px;">
                    <li ng-repeat="user in connectedUsers track by $index">
                        <i class="fa fa-user" aria-hidden="true"></i> {{user}}
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <footer class="pull-right" style="color:lightgray;height:5px;">
            &copy; Jhonny Li - PROG15 - Examensarbete, Maj 2017
            @*<div class="fb-like"
                 data-share="true"
                 data-width="450"
                 data-show-faces="true">
            </div>*@
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularroute")
    @Scripts.Render("~/bundles/signalr")
    @RenderSection("scripts", required: false)
    <script src="signalr/hubs"></script>
    @{
        if (Request.IsAuthenticated)
        {
        }

    }

</body>

</html>
